body{
    font-family: 'Poppins', sans-serif;
}
nav ul li{
    margin-right: 35px;
}

.nav-btn{
    width: 160px;
    height: 64px;
    background-color: #E76F51;
    color: white;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}
.nav-btn:hover{
    background-color: #bd4122;
}